@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  animation: #{$str};
}

@mixin lr-padding($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin tb-padding($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}
